@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

input {
  margin: 0;
  border: 0;
}

.main {
  background: url("../images/backgrpund.svg");
  padding-top: 51px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 970px;
  background-size: 100%;
}

.main-container {
  margin: 0 auto;
  width: 1440px;
}


.header {
  margin: 0 104px 0 104px;
  height: 46px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 205px;
  height: 40px;
}

.right-header-content {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-right: 48px;
  width: 203px;
  height: 30px;
}

.stays {
  color: #ffffff;
  text-decoration: none;
}

.stays:hover::after {
  margin: 8px 0 0 4px;
  display: block;
  content: "";
  background-color: #F5BD41;
  width: 50px;
  height: 4px;
}

.attractions:hover::after {
  margin: 8px 0 0 4px;
  display: block;
  content: "";
  background-color: #F5BD41;
  width: 112px;
  height: 4px;
}

.attractions {
  color: #ffffff;
  text-decoration: none;
}

.right-header-content-icons {
  align-items: center;
  display: flex;
  width: 95px;
  height: 40px;
}

.night-icon {
  fill: #ffffff;
  margin-right: 24px;
}

.account-icon {
  fill: #ffffff;
}

.account-icon-link:hover .account-icon {
  fill: #F5BD41;
}

.night-icon-link:hover .night-icon {
  fill: #F5BD41;
}

.main_title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
  margin: 202px 0 0 104px;
}

.booking-area {
  margin: 100px 0 0 104px;
}

.input-lables {
  margin:0 0 24px 24px;
}

.destination-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.date-in-out-label {
  margin-left: 221px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.inputs {
  background-color: #ffffff;
  width: 1223px;
  border-radius: 8px;
}

.destination {
  line-height: 21px;
  border: 0;
  padding: 24.5px 0 21px 24px;
  width: 467px;
  border-radius: 8px;
  font-size: 18px;
}

.date-in-out {
  border: 0;
  line-height: 21px;
  border-radius: 8px;
  padding: 22px 3px 19px 21px;
  width: 259px;
  font-size: 18px;
}

.people-room {
  border-radius: 8px;
  border: 0;
  padding: 24.5px 0 21px 24px;
  width: 305px;
  line-height: 21px;
  font-size: 18px;
}

.destination:focus, .people-room:focus {
  outline: none;
  border: 3px solid #F5BD41;
  padding: 21.5px 0 18px 21px;
}

.date-in-out:focus {
  outline: none;
  border: 3px solid #F5BD41;
  padding: 19px 0 16px 18px;
}

.search {
  padding: 21.5px 57px 24.5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  background: #3077C6;
  border: 0;
  width: 192px;
  line-height: 21px;
  border-radius: 8px;
}

.applications-icons {
  display: flex;
  margin: 121px 0 120px 585px;
}

.apple-picture {
  margin-left: 17px;
  width: 118px;
  height: 38.5px;
}

.google-play-picture {
  width: 135px;
  height: 40px;
}

.advantages {
  height: 569px;
  padding-top: 120px;
}

.advantages-container {
  width: 1440px;
  margin: 0 auto;
}

.advantages-label {
  margin: 0 auto;
}

.advantages-label-name {
  font-weight: 500;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.line {
  width: 100px;
  background-color: #f5bd41;
  margin: 20px auto 0;
  height: 4px;
  border: 0;
}

.advantages-elements {
  width: 1120px;
  margin: 104px auto 0;
}

.elements-name {
  margin: 52px 0 0 0;
}

.element {
  display: inline-block;
  width: 25%;
  height: 176px;
  float: left;
}

.icon-1 {
  width: 75px;
  height: 92px;
  display: block;
  margin: 4px auto 0;
}

.icon-2 {
  width: 83.5px;
  height: 83.5px;
  display: block;
  margin: 8px auto 0;
}

.icon-3 {
  width: 100px;
  height: 66.5px;
  display: block;
  margin: 17px auto 0;
}

.icon-4 {
  width: 93.5px;
  height: 83.5px;
  display: block;
  margin: 4px auto 0;
}

.elements-name-1 {
  display: flex;
  font-weight: 400;
  margin: 52px auto 0;
  justify-content: center;
  font-size: 24px;
}

.elements-name-2 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin: 56px auto 0;
  font-size: 24px;
}

.elements-name-3 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin: 64px auto 0;
  font-size: 24px;
}

.elements-name-4 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin: 60px auto 0;
  font-size: 24px;
}

.footer {
  height: 630px;
  background: #10367C;
}

.footer-logo {
  display: none;
}

.footer-container {
  margin: 0 auto;
  width: 1440px;
}

.elem {
  margin-top: 24px;
}

.list-about {
  flex-direction: column;
  list-style: none;
  display: inline-block;
  margin: 120px 0 0 104px;
}

.list-property_types {
  flex-direction: column;
  list-style: none;
  display: inline-block;
  margin: 120px 0 0 223px;
}

.list-support {
  flex-direction: column;
  list-style: none;
  display: inline-block;
  margin: 120px 0 0 282px;
}

.about {
  font-weight: 500;
}

.property_types {
  font-weight: 500;
}

.support {
  font-weight: 500;
}

.signature {
  color: #ffffff;
  margin: 120px 0 120px 103px;
  font-size: 12px;
}

.lists {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width:1440px) {
  .advantages-container, .footer-container {
    width: 360px;
  }

  .advantages-label-name {
    font-size: 28px;
  }

  .line {
    display: none;
  }

  .advantages-elements {
    width: 214px;
    margin-top: 35px;
  }

  .element {
    width: 214px;
    height: 104px;
    float: none;
    display: block;
  }

  .advantages {
    height: 641px;
    padding-top: 24px;
  }

  .icon-1 {
    width: 52.5px;
    height: 64.5px;
    margin: 0 auto 19px;
  }

  .icon-2 {
    width: 58.5px;
    height: 58.5px;
    margin: 38px auto 22px;
  }

  .icon-3 {
    width: 70px;
    height: 47px;
    margin: 44px auto 28px;
  }

  .icon-4 {
    width: 64px;
    height: 58.5px;
    margin: 35px auto 25px;
  }

  .elements-name-1, .elements-name-2, .elements-name-3, .elements-name-4 {
    margin: 0;
    font-size: 15px;
  }

  .footer {
    height: 203px;
    padding-top: 40px;
  }

  .elem {
    display: none;
  }

  .lists {
    font-size: 15px;
    width: 225px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .footer-logo {
    width: 98px;
    height: 19px;
    display: block;
    margin: 0 auto 40px;
  }

  .list-about, .list-property_types, .list-support {
    margin: 0;

  }

  .signature {
    width: 219px;
    margin: 32px auto 40px;
  }

  .link {
    text-decoration: underline;
  }
}