@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

input {
  margin: 0;
  border: 0;
}

.main {
  display: flex;
  justify-content: center;
  background: url("../images/background.png") no-repeat;
  padding-top: 51px;
  min-height: 935px;
  background-size: 100%;
}

.main-container {
  margin: 0 auto;
  width: 1440px;
}

.header {
  margin: 0 auto 0;
  width: 1232px;
  height: 46px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 205px;
  height: 40px;
}

.logo-icon {
  width: 205px;
  height: 40px;
}

.right-header-content {
  display: flex;
  justify-content: flex-end;
}

.links {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  margin-right: 48px;
  width: 203px;
  height: 30px;
}

.stays {
  color: #ffffff;
  text-decoration: none;
}

.stays:hover::after {
  opacity: 1;
}

.stays::after {
  transition: all 0.5s ease-out;
  opacity: 0;
  margin: 8px 0 0 4px;
  display: block;
  content: "";
  background-color: #f5bd41;
  width: 50px;
  height: 4px;
}

.attractions:hover::after {
  opacity: 1;
}

.attractions::after {
  transition: all 0.5s ease-out;
  opacity: 0;
  margin: 8px 0 0 4px;
  display: block;
  content: "";
  background-color: #f5bd41;
  width: 112px;
  height: 4px;
}

.attractions {
  color: #ffffff;
  text-decoration: none;
}

.right-header-content-icons {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 40px;
}

.menu-icon {
  transition: fill 0.5s ease-out;
  fill: #ffffff;
  margin-left: 16px;
}

.night-icon {
  transition: fill 0.5s ease-out;
  fill: #ffffff;
  margin-right: 24px;
}

.account-icon {
  transition: fill 0.5s ease-out;
  fill: #ffffff;
}

.menu-icon-link:hover .menu-icon {
  fill: #f5bd41;
}

.account-icon-link:hover .account-icon {
  fill: #f5bd41;
}

.night-icon-link:hover .night-icon {
  fill: #f5bd41;
}

.main_title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
  margin: 202px 0 0 104px;
}

.booking-area {
  margin: 100px 0 0 104px;
}

.input-lables {
  margin: 0 0 24px 24px;
}

.destination-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.date-in-out-label {
  margin-left: 221px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.inputs {
  background-color: #ffffff;
  width: 1222.5px;
  border-radius: 8px;
}

.destination {
  line-height: 21px;
  border: 0;
  padding: 24.5px 0 21px 24px;
  width: 467px;
  border-radius: 8px;
  font-size: 18px;
}

.date-in-out {
  border: 0;
  line-height: 21px;
  border-radius: 8px;
  padding: 22px 3px 19px 21px;
  width: 259px;
  font-size: 18px;
}

.people-room {
  border-radius: 8px;
  border: 0;
  padding: 24.5px 0 21px 24px;
  width: 305px;
  line-height: 21px;
  font-size: 18px;
}

.destination:focus,
.people-room:focus {
  outline: none;
  border: 3px solid #f5bd41;
  padding: 21.5px 0 18px 21px;
}

.date-in-out:focus {
  outline: none;
  border: 3px solid #f5bd41;
  padding: 19px 0 16px 18px;
}

.search {
  padding: 21.5px 57px 24.5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  background: #3077c6;
  border: 0;
  width: 192px;
  line-height: 21px;
  border-radius: 8px;
}

.applications-icons {
  display: flex;
  margin: 121px 0 120px 585px;
}

.apple-picture {
  margin-left: 17px;
  width: 118px;
  height: 38.5px;
}

.google-play-picture {
  width: 135px;
  height: 40px;
}

.advantages {
  padding-top: 120px;
}

.advantages-container {
  width: 1440px;
  margin: 0 auto;
}

.advantages-label {
  display: flex;
  justify-content: center;
}

.advantages-label-name {
  width: 306px;
  font-weight: 500;
  font-size: 40px;
  display: block;
  justify-content: center;
}

.advantages-label-name::after {
  display: block;
  content: "";
  background-color: #f5bd41;
  width: 100px;
  height: 4px;
  border: 0;
  margin: 20px auto 0;
}

.advantages-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 104px;
  padding: 0 80px;
}

.element {
  margin-bottom: 122px;
}

.elements-name {
  margin: 52px 0 0 0;
}

.icon-1 {
  width: 75px;
  height: 92px;
  display: block;
  margin: 4px auto 0;
}

.icon-2 {
  width: 83.5px;
  height: 83.5px;
  display: block;
  margin: 8px auto 0;
}

.icon-3 {
  width: 100px;
  height: 66.5px;
  display: block;
  margin: 17px auto 0;
}

.icon-4 {
  width: 93.5px;
  height: 83.5px;
  display: block;
  margin: 4px auto 0;
}

.elements-name-1 {
  display: flex;
  font-weight: 400;
  margin: 52px auto 0;
  justify-content: center;
  font-size: 24px;
}

.elements-name-2 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin: 56px auto 0;
  font-size: 24px;
}

.elements-name-3 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin: 64px auto 0;
  font-size: 24px;
}

.elements-name-4 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin: 60px auto 0;
  font-size: 24px;
}

.homes-guests-loves {
  background-color: #eaf0f9;
  padding-top: 120px;
}

.homes-guests-loves-container {
  width: 1440px;
  margin: 0 auto;
}

.homes-guests-loves-label {
  display: flex;
  justify-content: center;
}

.homes-guests-loves-label-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.homes-guests-loves-elements {
  width: 1257px;
  display: flex;
  flex-wrap: wrap;
  margin: 105px auto 0;
  position: relative;
}

.hotel-leopold-element,
.apartment_sunshine-element,
.villa-kunerad-element,
.hostel-friendship-element {
  margin-bottom: 120px;
}

.arrow {
  top: 24%;
  left: 98%;
  position: absolute;
  width: 40px;
  height: 40px;
}

.hotel-leopold-icon {
  width: 296px;
  height: 296px;
  display: block;
  margin: 0 auto;
}

.apartment-sunshine-icon {
  width: 295px;
  height: 296px;
  display: block;
  margin: 0 auto;
}

.villa-kunerad-icon {
  width: 296px;
  height: 296px;
  display: block;
  margin: 0 auto;
}

.hostel-friendship-icon {
  width: 294.5px;
  height: 294.5px;
  display: block;
  margin: 0 auto;
}

.hotel-leopold-link,
.apartment_sunshine-link,
.villa-kunerad-link,
.hostel-friendship-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  color: #3077c6;
  display: flex;
  margin: 24px auto 0;
  justify-content: flex-start;
}

.hotel-leopold-link,
.villa-kunerad-link,
.hotel-leopold-location,
.villa-kunerad-location {
  width: 296px;
}

.apartment_sunshine-link,
.hostel-friendship-link,
.apartment_sunshine-location,
.hostel-friendship-location {
  width: 295px;
}

.hotel-leopold-location,
.apartment_sunshine-location,
.villa-kunerad-location,
.hostel-friendship-location {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #bfbfbf;
  margin: 24px auto 0;
  display: flex;
  justify-content: flex-start;
}

.footer {
  background: #10367c;
}

.footer-container {
  flex-wrap: wrap;
  display: flex;
  width: 1440px;
  margin: 0 auto;
}

.footer-logo {
  display: none;
}

.lists {
  width: 1440px;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.elem {
  margin-top: 24px;
}

.list-about {
  list-style: none;
  padding: 120px 0 0 104px;
}

.list-property_types {
  list-style: none;
  padding: 120px 0 0 40px;
}

.list-support {
  list-style: none;
  padding: 120px 0 0 95px;
}

.about,
.property_types,
.support {
  font-weight: 500;
}

.signature {
  color: #ffffff;
  margin: 120px 0 120px 103px;
  font-size: 12px;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 1440px) {
  /*For Desktop*/

  .menu-icon {
    display: none;
  }

  .destination {
    width: calc(100% / 12 * 5 - 43px);
  }

  .date-in-out {
    width: calc(100% / 12 * 2 + 55.5px);
  }

  .people-room {
    width: calc(100% / 12 * 3 - 1px);
  }

  .search {
    width: calc(100% / 12 * 2 - 11.5px);
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
  .main {
    min-height: 750px;
  }

  .menu-icon {
    display: none;
  }

  .header {
    margin: 0 auto;
  }

  .main_title {
    margin: 120px 0 0 auto;
    font-size: 35px;
  }

  .booking-area {
    margin: 50px 0 0 auto;
  }

  .inputs {
    flex-wrap: wrap;
    max-width: 1222.5px;
    margin: 0 auto 0 0;
  }

  .input-lables {
    display: flex;
  }

  .destination-label,
  .date-in-out-label {
    font-size: 15px;
    display: block;
  }

  .date-in-out-label {
    margin-left: 0;
  }

  .destination,
  .date-in-out,
  .people-room {
    font-size: 15px;
  }

  .applications-icons {
    margin: 50px auto 0;
  }

  .hotel-leopold-element,
  .apartment_sunshine-element {
    margin-bottom: 60px;
  }

  .arrow {
    top: 37%;
    left: 89%;
  }

  .col-m-1 {
    width: 8.33%;
  }

  .col-m-2 {
    width: 16.66%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-4 {
    width: 33.33%;
  }

  .col-m-5 {
    width: 41.66%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-7 {
    width: 58.33%;
  }

  .col-m-8 {
    width: 66.66%;
  }

  .col-m-9 {
    width: 75%;
  }

  .col-m-10 {
    width: 83.33%;
  }

  .col-m-11 {
    width: 91.66%;
  }

  .col-m-12 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .right-header-content-icons {
    padding-right: 12px;
  }

  .main {
    background-size: cover;
    padding: 0;
    min-height: 590px;
  }

  .menu-icon {
    width: 24px;
    height: 16px;
  }

  .logo-icon {
    width: 122px;
    height: 24px;
  }

  .night-icon {
    margin-right: 16px;
    width: 16px;
    height: 16px;
  }

  .account-icon {
    width: 24px;
    height: 24px;
  }

  .links {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .main-container {
    justify-content: center;
  }

  .main_title {
    width: 350px;
    padding: 52px 12px 0 12px;
    margin: 0 auto;
    font-size: 30px;
  }

  .header {
    margin: 0;
    padding: 12px 12px 0 12px;
  }

  .advantages-label {
    font-size: 28px;
  }

  .booking-area {
    margin: 0 auto;
    padding: 31px 12px 0 12px;
  }

  .inputs {
    margin: 0 auto;
    width: 328px;
    height: 232px;
    border-radius: 0;
    background-color: #f5bd41;
  }

  .input-lables {
    display: none;
  }

  .destination,
  .date-in-out,
  .people-room {
    margin: 8px 8px 0 8px;
    font-size: 15px;
    width: calc(100% / 12 * 11 + 11.5px);
    height: 48px;
  }

  .search {
    line-height: 22px;
    margin: 8px;
    width: calc(100% / 12 * 11 + 11.5px);
    height: 48px;
    font-size: 19px;
    padding: 14px 125px;
  }

  .applications-icons {
    justify-content: center;
    margin: 32px 0 0;
  }

  .line {
    display: none;
  }

  .element {
    margin-bottom: 38.5px;
  }

  .elements-name-1,
  .elements-name-2,
  .elements-name-3,
  .elements-name-4 {
    font-size: 15px;
  }

  .elem {
    display: none;
  }

  .villa-kunerad-element,
  .hostel-friendship-element {
    display: none;
  }

  .hotel-leopold-icon,
  .apartment-sunshine-icon {
    width: 156px;
    height: 155px;
  }

  .homes-guests-loves {
    padding-top: 40px;
  }

  .homes-guests-loves-label-name {
    font-size: 28px;
  }

  .homes-guests-loves-elements {
    margin-top: 32px;
  }

  .hotel-leopold-element,
  .apartment_sunshine-element {
    margin-bottom: 40px;
    width: calc(100% / 12 * 6 - 24px);
  }

  .hotel-leopold-element {
    margin-right: 16px;
    margin-left: 17px;
  }

  .apartment_sunshine-element {
    margin-right: 15px;
  }

  .hotel-leopold-location,
  .apartment_sunshine-location,
  .hotel-leopold-link,
  .apartment_sunshine-link {
    font-size: 12px;
    width: 156px;
  }

  .hotel-leopold-link,
  .apartment_sunshine-link {
    margin: 8px auto 0;
  }

  .hotel-leopold-location,
  .apartment_sunshine-location {
    margin: 4px auto 0;
  }

  .arrow {
    width: 28px;
    height: 28px;
    left: 92%;
    top: 28%;
  }

  .lists {
    text-align: center;
    width: 225px;
  }

  .about,
  .property_types,
  .support {
    text-decoration: underline;
    font-size: 15px;
  }

  .about,
  .property_types {
    margin-right: 8px;
  }

  .list-about,
  .list-support,
  .list-property_types {
    padding: 0;
  }

  .footer-logo {
    height: 19px;
    display: block;
    margin: 40px auto 40px;
  }

  .footer-container {
    align-items: center;
    flex-direction: column;
  }

  .signature {
    text-align: center;
    margin: 32px 0 40px;
  }

  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}
